.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.botao {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 24px;
  border-radius: 4px;
  color: var(--cor-p5);
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) var(--cor-0);
}

.botao:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .titulo h1 {
    font-size: 2.8rem;
    margin-top: 12px;
  }
  .titulo p {
    font-size: 1.2rem;
  }
}
