.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens {
  padding-top: 80px;
}
.vantagens h2 {
  margin-bottom: 80px;
}
.vantagens-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;
}
