.segurobicicleta-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}

.segurobicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.segurobicicleta-imagem img {
  height: 100%;
  object-fit: cover;
}

.segurobicicleta-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.segurobicicleta-conteudo h2 {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .segurobicicleta {
    grid-template-columns: 1fr;
  }
  .segurobicicleta-imagem img {
    width: 800px;
    height: 300px;
  }
  .segurobicicleta-conteudo {
    padding-top: 0px;
  }
  .segurobicicleta-conteudo h2 {
    font-size: 3rem;
  }
}
