.bikes-lista {
  display: flex;
  box-sizing: border-box;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  gap: 40px;
  overflow-x: auto;
}

.bikes-lista li {
  min-width: 280px;
}

.bikes-home {
  padding-top: 60px;
  padding-bottom: 80px;
}

.bikes-lista a {
  display: block;
}

.bikes-lista img {
  margin-bottom: 20px;
}

.bikes-lista h3 {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.bikes-lista h3::before {
  content: "";
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  left: -20px;
  transition: 0.3s;
}

.bikes-lista a:hover h3::before {
  width: 16px;
}

.bikes-lista span {
  padding-left: 21px;
}

@media (max-width: 900px) {
  .bikes-lista {
    gap: 20px;
  }
  .bikes-home {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .bikes-home h2 {
    font-size: 3rem;
  }
  .bikes-home {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
